body {
    background-color: #ebebeb;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 0px;
    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}